/* TEmPORARY, easier to test this way */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
    touch-action: manipulation;
    padding: 0px;
    margin: 0px;
}

html,
body {
    background-color: #231942;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
}

span {
    overflow: hidden;
}

.no-select {
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

td {
    min-width: 1.4em;
    height: 1.2em;
}

.center-H {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center-H h3 {
    max-width: 70vw;
}

.center-H br {
    margin: 1em 0;
    padding: 0.5em;
}

.nextToEachOther {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 16px;
}

.settingsElement {
    padding-right: 2em;
}

.highlighted {
    color: #ff0000;
}

.schedule {
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
    width: 98%;
    border-radius: 10px;
    overflow: hidden;
}

.scheduleHeader {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1vw;
    margin-top: 1vh;
}

.scheduleHeaderButton {
    cursor: pointer;
    margin-left: 5px;
    float: right;
    padding: 0.25em;
}

.header {
    border: 1px solid #000;
    height: 3em;
    padding: 2px;
    text-align: center;
    background-color: #f2f2f2;
    color: #000000; /* temporarily set to standard black */
}

.slot {
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
    background-color: #504848;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
    height: 2em;
    width: 2em;
}

.slot:hover {
    background-color: #3f3f3f;
    transition: background-color 0.3s ease;
}

.slot.disabled:not(.booked):not(.bookedByClient) {
    background-color: #3f3f3f;
    color: #7f7f7f;
}

.slotColor {
    background-color: #504848;
}

.legend {
    width: 25vw;
}

.legend p {
    min-height: 1.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.clicked {
    background-color: #61cc61;
    transition: background-color 0.3s ease;
}

.clicked:hover {
    background-color: #4f9f4f;
    transition: background-color 0.3s ease;
}

.clickedColor {
    background-color: #61cc61;
}

.booked {
    background-color: #ff5f5f;
    transition: background-color 0.3s ease;
}

.booked:hover {
    background-color: #ff3f3f;
    transition: background-color 0.3s ease;
}

.bookedColor {
    background-color: #ff5f5f;
}

.bookedByClient {
    background-color: #8686f3;
    transition: background-color 0.3s ease;
}

.bookedByClient:hover {
    background-color: #6f6ff3;
    transition: background-color 0.3s ease;
}

.bookedByClientColor {
    background-color: #8686f3;
}

.buttonList {
    cursor: pointer;
}

.tableLeft {
    float: left;
    width: 50%;
}

/* The alert message box */
.alert {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    z-index: -1;
}

.alert.visible {
    opacity: 1;
    max-height: 200px;
    z-index: 1000;
}

/* Alert Types */
.alert.error {
    background-color: #f44336; /* Red */
}

.alert.success {
    background-color: #4caf50; /* Green */
}

.alert.info {
    background-color: #2196f3; /* Blue */
}

/* The close button */
.closebtn {
    position: absolute;
    right: 3.5%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1001;
}

.closebtn:hover {
    color: black;
}

/* Added new css elements instead of replacing old ones for now */

.buttonReal {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 17px 40px;
    border-radius: 15px;
    cursor: pointer;
    border: 0;
    background-color: #b58ef2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.3s ease;
}

.buttonReal:hover {
    background-color: #b58ef2;
    color: hsl(0, 0%, 100%);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.buttonReal:active {
    background-color: #b58ef2;
    color: hsl(0, 0%, 100%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: 100ms;
}

.labelInputField {
    background-color: #ffffff;
    padding-left: 3px;
}

::placeholder {
    padding-left: 3px;
}

/* Phones, and other vertical devices */
@media (max-width: 768px) {
    .nextToEachOther {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* clicked link */
a:visited,
a:link {
    color: #ff0000;
}

a:hover {
    color: #c00000;
}

.booked1 {
    background-color: #6272a4;
    transition: background-color 0.3s ease;
}

.booked1:hover {
    background-color: #4f5f8f;
    transition: background-color 0.3s ease;
}

.booked2 {
    background-color: #bd93f9;
    transition: background-color 0.3s ease;
}

.booked2:hover {
    background-color: #a37ff3;
    transition: background-color 0.3s ease;
}

.selected {
    animation: alternateColors 1s infinite;
    color: blue;
    font-weight: bold;
    background-color: #c00000;
}

@keyframes alternateColors {
    0% {
        color: blue;
    }
    50% {
        color: yellow;
    }
    100% {
        color: blue;
    }
}

.selected:hover {
    background-color: #ff0000;
}

.booked1.selected {
    background-color: #cf70bb;
}

.booked1.selected:hover {
    background-color: #bc61b6;
}

.booked2.selected {
    background-color: #88557b;
}

.booked2.selected:hover {
    background-color: #7c486d;
}

.credits {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 1vh;
    text-align: center;
}

@media (max-width: 820px) {
    .credits {
        position: static;
    }
}

ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    bottom: 1vh;
    opacity: 0.8;
    z-index: 1000;
}

ul li {
    list-style: none;
    margin: 0 1vh;
}

ul li a {
    position: relative;
    display: block;
    width: 45px; /* 25% smaller width */
    height: 45px; /* 25% smaller height */
    text-align: center;
    line-height: 48px; /* 25% smaller line-height */
    background: #333;
    border-radius: 20%;
    font-size: 26.5px;
    color: #666;
    transition: 0.5s;
    margin-top: 10px;
}

ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20%;
    background: #f1fa8c;
    transition: 0.7s;
    transform: scale(0);
    opacity: 1;
    z-index: -1;
}

ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #f1fa8c;
    opacity: 0;
    z-index: 1;
}

.switch {
    cursor: pointer;
}
